@tag-prefix-cls: ~"@{css-prefix}tag";
@tag-close-prefix-cls: ivu-icon-ios-close-empty;

.@{tag-prefix-cls} {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border-radius: @btn-border-radius-small;
    border: 1px solid @border-color-split;
    background: @background-color-base;
    font-size: @tag-font-size;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
    //.transition(all @transition-time @ease-in-out);

    &:hover {
        opacity: 0.85;
    }

    &,
    a,
    a:hover {
        color: @text-color;
    }

    &-text {
        a:first-child:last-child {
            display: inline-block;
            margin: 0 -8px;
            padding: 0 8px;
        }
    }

    .@{tag-close-prefix-cls} {
        .iconfont-size-under-12px(20px);
        cursor: pointer;
        margin-left: 3px;
        color: #666;
        opacity: 0.66;
        position: relative;
        top: 1px;
        //.transition(all @transition-time @ease-in-out);

        &:hover {
            opacity: 1;
        }
    }

    &-blue,
    &-green,
    &-yellow,
    &-red {
        border: 0;
        &,
        a,
        a:hover,
        .@{tag-close-prefix-cls},
        .@{tag-close-prefix-cls}:hover {
            color: #fff;
        }
    }

    &-blue {
        background: @link-color;
    }

    &-green {
        background: @success-color;
    }

    &-yellow {
        background: @warning-color;
    }

    &-red {
        background: @error-color;
    }

    &-close {
        width: 0 !important;
        padding: 0;
        margin: 0;
    }
}