{
    "presets": [
        ["env", {
            "loose": false,
            "modules": "commonjs",
            "spec": true,
            "targets": {
                "browsers": [
                    "last 3 Chrome versions",
                    "last 3 Firefox versions",
                    "Safari >= 10",
                    "Explorer >= 11",
                    "Edge >= 12",
                    "iOS >= 10",
                    "Android >= 6"
                ]
            },
            "useBuiltIns": "usage",
            "debug": false
        }],
        "stage-3"
    ],
    "plugins": [
        "dynamic-import-node",
        "transform-class-properties",
        "transform-es5-property-mutators",
        "transform-object-rest-spread",
        "transform-runtime",
        "transform-vue-jsx"
    ],
    "comments": false
}
