// Prefix
@css-prefix             : ivu-;
@css-prefix-iconfont    : ivu-icon;
// Color
@primary-color          : #0099e5;
@info-color             : #2db7f5;
@success-color          : #5cb85c;
@error-color            : #ff5500;
@warning-color          : #f0ad4e;
@link-color             : #0099e5;
@link-hover-color       : tint(@link-color, 20%);
@link-active-color      : shade(@link-color, 5%);

// Base
@body-background        : #fff;
@font-family            : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@code-family            : Consolas,Menlo,Courier,monospace;
@text-color             : #525558;
@font-size-base         : 14px;
@line-height-base       : 1.5;
@line-height-computed   : floor((@font-size-base * @line-height-base));
@border-radius-base     : 6px;
@border-radius-small    : 4px;
@cursor-disabled        : not-allowed;

// Border color
@border-color-base      : #d9d9d9;  // outside
@border-color-split     : #e9e9e9;  // inside

// Background color
@background-color-base  : #f7f7f7;  // base

// Shadow
@shadow-color           : rgba(100, 100, 100, .2);
@shadow-base            : @shadow-down;
@shadow-card            : 0 1px 1px 0 rgba(0,0,0,.1);
@shadow-up              : 0 -1px 6px @shadow-color;
@shadow-down            : 0 1px 6px @shadow-color;
@shadow-left            : -1px 0 6px @shadow-color;
@shadow-right           : 1px 0 6px @shadow-color;

// Button
@btn-font-weight        : 400;
@btn-padding-base       : 4px 15px;
@btn-padding-large      : 4px 15px 5px 15px;
@btn-padding-small      : 1px 7px;
@btn-font-size          : 12px;
@btn-font-size-large    : 14px;
@btn-border-radius      : 4px;
@btn-border-radius-small: 3px;
@btn-group-border       : shade(@primary-color, 5%);

@btn-disable-color      : #ccc;
@btn-disable-bg         : @background-color-base;
@btn-disable-border     : @border-color-base;

@btn-default-color      : @text-color;
@btn-default-bg         : @background-color-base;
@btn-default-border     : @border-color-base;

@btn-primary-color      : #fff;
@btn-primary-bg         : @primary-color;

@btn-ghost-color        : @text-color;
@btn-ghost-bg           : transparent;
@btn-ghost-border       : @border-color-base;

@btn-circle-size        : 28px;
@btn-circle-size-large  : 32px;
@btn-circle-size-small  : 22px;

// Layout and Grid
@grid-columns           : 24;
@grid-gutter-width      : 0;

// Legend
@legend-color           : #999;

// Input
@input-height-base           : 28px;
@input-height-large          : 32px;
@input-height-small          : 22px;

@input-padding-horizontal    : 7px;
@input-padding-vertical-base : 4px;
@input-padding-vertical-small: 1px;
@input-padding-vertical-large: 6px;

@input-placeholder-color     : #ccc;
@input-color                 : @text-color;
@input-border-color          : @border-color-base;
@input-bg                    : #fff;

@input-hover-border-color    : @primary-color;
@input-focus-border-color    : @primary-color;
@input-disabled-bg           : #f3f3f3;

// Tag
@tag-font-size          : 12px;

// Z-index
@zindex-spin            : 8;
@zindex-affix           : 10;
@zindex-back-top        : 10;
@zindex-modal           : 1000;
@zindex-message         : 1010;
@zindex-notification    : 1010;
@zindex-loading-bar     : 2000;

// Animation
@animation-time         : .3s;
@transition-time        : .2s;
@ease-in-out            : ease-in-out;