.animation(@string) {
    -webkit-animation:  @string;
    -moz-animation:     @string;
    animation:          @string;
}

.animation-duration(@string) {
    -webkit-animation-duration    : @string;
    -moz-animation-duration       : @string;
    animation-duration            : @string;
}

.animation-fill-mode(@string) {
    -webkit-animation-fill-mode    : @string;
    -moz-animation-fill-mode       : @string;
    animation-fill-mode            : @string;
}

.animation-play-state(@string) {
    -webkit-animation-play-state    : @string;
    -moz-animation-play-state       : @string;
    animation-play-state            : @string;
}

.animation-name(@string) {
    -webkit-animation-name    : @string;
    -moz-animation-name       : @string;
    animation-name            : @string;
}