.ivu-article {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }
    h5{
        font-size: 12px;
    }
    h6{
        font-size: 12px;
    }

    blockquote{
        padding: 5px 5px 3px 10px;
        line-height: 1.5;
        border-left: 4px solid #ddd;
        margin-bottom: 20px;
        color: #666;
        font-size: 14px;
    }

    ul{
        padding-left: 40px;
        list-style-type: disc;
    }
    li{
        margin-bottom: 5px;
    }
    ul ul, ol ul{
        list-style-type: circle;
    }

    p{
        margin: 5px;
    }
}