.transform(@string) {
    -webkit-transform: @string;
    -moz-transform:    @string;
    transform:         @string;
}
.transform-origin(@string) {
    -webkit-transform-origin: @string;
    -moz-transform-origin:    @string;
    transform-origin:         @string;
}